node_modules/
src/
dist/
dist-electron/
electron/
public/
website/
tests/
.github/
.vscode/
*.sh
*.bat
.env
electron-builder.json
tailwind.config.js
postcss.config.js
vite.config.ts
tsconfig.*
eslint.config.js
